# Ejercicio 2
a) Descripción

## a) Limpieza y formateo de datos de la primera fuente

In [361]:
import pandas as pd

LaureatesLink="https://en.wikipedia.org/wiki/List_of_Nobel_laureates_in_Chemistry"
Laureates=pd.read_html(LaureatesLink,header=0,flavor='bs4')
type(Laureates)

list

In [362]:
len(Laureates)

8

In [395]:
Laureates=pd.read_html(LaureatesLink,header=0,flavor='bs4')
Laureates_DF=Laureates[0]
Laureates_DF

,Year,Image,Laureate[A],Country[B],Rationale[C],Ref
0,1901,NaN,Jacobus Henricus van 't Hoff (1852–1911),Netherlands,"""[for his] discovery of the laws of chemical d...",[18]
1,1902,NaN,Hermann Emil Fischer (1852–1919),Germany,"""[for] his work on sugar and purine syntheses""",[19]
2,1903,NaN,Svante August Arrhenius (1859–1927),Sweden,"""[for] his electrolytic theory of dissociation""",[20]
3,1904,NaN,Sir William Ramsay (1852–1916),United Kingdom,"""[for his] discovery of the inert gaseous elem...",[21]
4,1905,NaN,Adolf von Baeyer (1835–1917),Germany,"""[for] the advancement of organic chemistry an...",[22]
...,...,...,...,...,...,...
197,2022,NaN,Morten Meldal (b. 1954),Denmark,"""for the development of click chemistry and bi...",[126]
198,2022,NaN,K. Barry Sharpless (b. 1941),United States,"""for the development of click chemistry and bi...",[126]
199,2023,NaN,Moungi G. Bawendi (b. 1961),United States,"""for the discovery and synthesis of quantum dots""",[127]
200,2023,NaN,Louis E. Brus (b. 1943),United States,"""for the discovery and synthesis of quantum dots""",[127]
201,2023,NaN,Alexey Ekimov (b. 1945),United States,"""for the discovery and synthesis of quantum dots""",[127]

In [396]:
Laureates=pd.read_html(LaureatesLink,header=0,flavor='bs4')
Laureates_DF=Laureates[0]

#Eliminando las columnas "Image" y "Ref"
Laureates_DF.drop(columns=["Image","Ref"], inplace=True)

# Renombrando las columnas
Laureates_DF.rename(columns={"Laureate[A]":"Laureate","Country[B]":"Country","Rationale[C]":"Rationale"},inplace=True)

#Creando dos nuevas columnas (Birth_year y Death_year a partir de datos preexistentes de la columna Laureate)
Laureates_DF_2=Laureates_DF["Laureate"].str.split("(", expand=True) 
Laureates_DF["Laureate"]=Laureates_DF_2[0]
##Eliminando "b." y ")"
Laureates_DF_2[1]=Laureates_DF_2[1].str.replace(pat=r'(\Ab.)',repl='',regex=True)
Laureates_DF_2[1]=Laureates_DF_2[1].str.replace(pat=')',repl='')
Laureates_DF_2=Laureates_DF_2[1].str.split("–", expand=True)

#Columnas resultantes luego de limpiar
Laureates_DF_2

         0     1
0     1852  1911
1     1852  1919
2     1859  1927
3     1852  1916
4     1835  1917
..     ...   ...
197   1954  None
198   1941  None
199   1961  None
200   1943  None
201   1945  None

[202 rows x 2 columns]

In [397]:
#Reemplazando valores "None" en la segunda columna con "Alive"
Laureates_DF_2[1]=Laureates_DF_2[1].replace({None:'Alive'})

In [404]:
#Dataframe resultante
Laureates_DF["Birth_year"]=Laureates_DF_2[0]
Laureates_DF["Death_year"]=Laureates_DF_2[1]
Laureates_DF

,Year,Laureate,Country,Rationale,Birth_year,Death_year
0,1901,Jacobus Henricus van 't Hoff,Netherlands,"""[for his] discovery of the laws of chemical d...",1852,1911
1,1902,Hermann Emil Fischer,Germany,"""[for] his work on sugar and purine syntheses""",1852,1919
2,1903,Svante August Arrhenius,Sweden,"""[for] his electrolytic theory of dissociation""",1859,1927
3,1904,Sir William Ramsay,United Kingdom,"""[for his] discovery of the inert gaseous elem...",1852,1916
4,1905,Adolf von Baeyer,Germany,"""[for] the advancement of organic chemistry an...",1835,1917
...,...,...,...,...,...,...
197,2022,Morten Meldal,Denmark,"""for the development of click chemistry and bi...",1954,Alive
198,2022,K. Barry Sharpless,United States,"""for the development of click chemistry and bi...",1941,Alive
199,2023,Moungi G. Bawendi,United States,"""for the discovery and synthesis of quantum dots""",1961,Alive
200,2023,Louis E. Brus,United States,"""for the discovery and synthesis of quantum dots""",1943,Alive
201,2023,Alexey Ekimov,United States,"""for the discovery and synthesis of quantum dots""",1945,Alive

In [405]:
#Conviertiendo los datos de las columnas Birth_year y Death_year en números enteros
#Laureates_DF.Birth_year=pd.to_numeric(Laureates_DF.Birth_year,errors='ignore')
#Laureates_DF.Death_year=pd.to_numeric(Laureates_DF.Death_year,errors='ignore')

#Laureates_DF[Laureates_DF.columns[4:6]]=Laureates_DF.iloc[:,4:6].apply(lambda x: x.astype('Int64',errors="ignore"))
#Laureates_DF.info()

In [407]:
#DF_final
Laureates_DF

,Year,Laureate,Country,Rationale,Birth_year,Death_year
0,1901,Jacobus Henricus van 't Hoff,Netherlands,"""[for his] discovery of the laws of chemical d...",1852,1911
1,1902,Hermann Emil Fischer,Germany,"""[for] his work on sugar and purine syntheses""",1852,1919
2,1903,Svante August Arrhenius,Sweden,"""[for] his electrolytic theory of dissociation""",1859,1927
3,1904,Sir William Ramsay,United Kingdom,"""[for his] discovery of the inert gaseous elem...",1852,1916
4,1905,Adolf von Baeyer,Germany,"""[for] the advancement of organic chemistry an...",1835,1917
...,...,...,...,...,...,...
197,2022,Morten Meldal,Denmark,"""for the development of click chemistry and bi...",1954,Alive
198,2022,K. Barry Sharpless,United States,"""for the development of click chemistry and bi...",1941,Alive
199,2023,Moungi G. Bawendi,United States,"""for the discovery and synthesis of quantum dots""",1961,Alive
200,2023,Louis E. Brus,United States,"""for the discovery and synthesis of quantum dots""",1943,Alive
201,2023,Alexey Ekimov,United States,"""for the discovery and synthesis of quantum dots""",1945,Alive

## b) Limpieza y formateo de datos de la segunda fuente

In [318]:
import pandas as pd

NomineesLink="https://en.wikipedia.org/wiki/List_of_nominees_for_the_Nobel_Prize_in_Chemistry"
Nominees=pd.read_html(NomineesLink,header=0,flavor='bs4')
type(Nominees)

list

In [319]:
range(len(Nominees))

range(0, 15)

In [328]:
#El primer elemento de la lista es un DF que contiene adjuntos verticalmente datos de los nominados de 1901 a 1909
Nominees[0]

,Picture,Name,Born,Died,Years Nominated,Notes
0,1901.0,1901,1901,1901,1901,1901
1,NaN,Jacobus Henricus van 't Hoff,"August 30, 1852 Rotterdam, Netherlands","March 1, 1911 Berlin, Germany",1901,Won the 1901 Nobel Prize in Chemistry.[4]
2,NaN,Emil Fischer,"October 9, 1852 Euskirchen, Germany","July 15, 1919 Berlin, Germany","1901, 1902, 1916, 1919","Won the 1902 Nobel Prize in Chemistry,[5] late..."
3,NaN,Svante Arrhenius,"February 19, 1859 Uppsala, Sweden","October 2, 1927 Stockholm, Sweden","1901, 1902, 1903",Won the 1903 Nobel Prize in Chemistry and nomi...
4,NaN,Henri Moissan,"September 28, 1852 Paris, France","February 20, 1907 Paris, France","1901, 1902, 1903, 1904, 1905, 1906",Won the 1906 Nobel Prize in Chemistry.[8]
5,NaN,Zdenko Hans Skraup,"March 3, 1850 Prague, Czech Republic","September 10, 1910 Vienna, Austria",1901,Nominated the only time by Eduard Lippmann (18...
6,NaN,Marcellin Berthelot,"October 25, 1827 Paris, France","March 18, 1907 Paris, France","1901, 1902, 1903, 1904, 1906, 1907",[10]
7,NaN,William Jackson Pope,"March 31, 1870 London, England","October 17, 1939 Cambridge, England","1901, 1907, 1927",[11]
8,1902.0,1902,1902,1902,1902,1902
9,NaN,William Ramsay,"October 2, 1852 Glasgow, Scotland","July 23, 1916 High Wycombe, England","1902, 1903, 1904",Won the 1904 Nobel Prize in Chemistry and nomi...
10,NaN,Adolf von Baeyer,"October 31, 1835 Berlin, Germany","August 20, 1917 Starnberg, Germany","1902, 1903, 1904, 1905",Won the 1905 Nobel Prize in Chemistry.[13]
11,NaN,Theodore William Richards,"January 31, 1868 Germantown, Philadelphia, Uni...","April 2, 1928 Cambridge,_Massachusetts, United...","1902, 1905, 1908, 1909, 1910, 1911, 1912, 1913...",Won the 1914 Nobel Prize in Chemistry in 1915....
12,NaN,Rudolf Knietsch,"December 13, 1854 Opole, Poland","May 28, 1906 Ludwigshafen, Germany",1902,Nominated the only time by P.Klason.[15]
13,NaN,Johannes Wislicenus,"June 24, 1835 Querfurt, Germany","December 5, 1902 Leipzig, Germany",1902,Nominated the only time by Zd.H.Skraup.[16] Di...
14,NaN,Oliver Wolcott Gibbs,"February 21, 1822 New York City, United States","December 9, 1908 Portsmouth, Rhode Island, Uni...",1902,Nominated the only time by Ch.Edw.Munroe.[17]
15,NaN,Edward Williams Morley,"January 29, 1838 Newark, New Jersey, United St...","February 24, 1923 West Hartford, Connecticut, ...","1902, 1908, 1910",[18]
16,NaN,Armand Gautier,"September 23, 1837 Narbonne, France","July 27, 1920 Cannes, France","1902, 1916",Nominated for Nobel Prize in Physiology or Med...
17,1903.0,1903,1903,1903,1903,1903
18,NaN,Harmon Northrop Morse,"October 15, 1848 Cambridge, Vermont, United St...","September 8, 1920 Chebeague Island, Maine, Uni...","1903, 1910",Nominated by Harry Clary Jones (1865–1916) fro...
19,1904.0,1904,1904,1904,1904,1904
20,NaN,Wilhelm Ostwald,"September 2, 1853 Riga, Latvia","April 4, 1932 Grimma, Germany","1904, 1905, 1906, 1907, 1908, 1909",Won the 1909 Nobel Prize in Chemistry.[22]
21,1905.0,1905,1905,1905,1905,1905
22,NaN,Eduard Buchner,"May 20, 1860 Munich, Germany","August 13, 1917 Focșani, Romania","1905, 1907",Won the 1907 Nobel Prize in Chemistry and nomi...
23,NaN,Dmitri Mendeleev,"February 8, 1834 Tobolsk, Russia","February 2, 1907 Saint Petersburg, Russia","1905, 1906, 1907",[24]
24,NaN,Giacomo Ciamician,"August 27, 1857 Trieste, Italy","January 2, 1922 Bologna, Italy","1905, 1907, 1908, 1911, 1912, 1914, 1916, 1919...",[25]
25,NaN,Henry Louis Le Chatelier,"October 8, 1850 Paris, France","September 17, 1936 Miribel-les-Échelles, France","1905, 1907, 1908, 1909, 1914, 1915, 1920, 1921...",Nominated for the Nobel Prize in Physics too.[26]
26,1906.0,1906,1906,1906,1906,1906
27,NaN,Walther Nernst,"June 25, 1864 Gmina Wąbrzeźno, Poland","November 18, 1941 Niwica, Poland","1906, 1907, 1908, 1909, 1910, 1911, 1912, 1913...",Won the 1920 Nobel Prize in Chemistry in 1921 ...
28,NaN,Victor Grignard,"May 6, 1871 Cherbourg-en-Cotentin, France","December 13, 1935 Lyon, France","1906, 1909, 1910, 1912, 1928",Won the 1912 Nobel Prize in Chemistry.[28]
29,1907.0,1907,1907,1907,1907,1907
30,NaN,Paul Sabatier,"November 5, 1854 Carcassonne, France","August 14, 1914 Toulouse, France","1907, 1909, 1911, 1912, 1928, 1929",Won the 1912 Nobel Prize in Chemistry.[29]
31,NaN,Ernest Rutherford,"August 30, 1871 Brightwater, New Zealand","October 19, 1937 Cambridge, England","1907, 1908",Won the 1908 Nobel Prize in Chemistry and nomi...
32,NaN,Otto Wallach,"March 27, 1847 Königsberg, Prussia","February 26, 1931 Göttingen, Germany","1907, 1908, 1910",Won the 1910 Nobel Prize in Chemistry.[31]
33,NaN,Alfred Werner,"December 12, 1866 Mulhouse, France","November 15, 1919 Zürich, Switzerland","1907, 1908, 1911, 1912, 1913",Won the 1913 Nobel Prize in Chemistry.[32]
34,NaN,Fredrik Adolf Kjellin,"April 24, 1872 Södertälje, Sweden","December 30, 1910 Stockholm, Sweden",1907,Nominated the only time by Otto Pettersson.[33]
35,NaN,Stanislao Cannizzaro,"July 13, 1826 Palermo, Italy","May 10, 1910 Rome, Italy",1907,[34]
36,NaN,Sophus Mads Jørgensen,"July 4, 1837 Slagelse, Denmark","April 1, 1914 Copenhagen, Denmark",1907,[35]
37,NaN,William Crookes,"June 17, 1832 London, England","April 4, 1919 London, England","1907, 1908, 1909, 1910",Nominated for the Nobel Prize in Physics too.[36]
38,NaN,Heinrich Caro,"February 13, 1834 Poznań, Poland","September 11, 1910 Dresden, Germany","1907, 1910",Nominated jointly with Ad.Frank only.[37]
39,NaN,Adolph Frank,"January 20, 1834 Klötze, Germany","May 30, 1916 Berlin, Germany","1907, 1910, 1916",[38]
40,NaN,Samuel Eyde,"October 29, 1866 Arendal, Norway","June 21, 1940 Åsgårdstrand, Norway","1907, 1909, 1913",Nominated jointly with Kr.Birkeland only.[39]
41,NaN,Kristian Birkeland,"December 13, 1867 Oslo, Norway","June 15, 1917 Kanagawa, Japan","1907, 1909, 1912, 1913",Nominated for the Nobel Prize in Physics too.[40]
42,NaN,Theodor Curtius,"May 27, 1857 Duisburg, Germany","February 8, 1928 Heidelberg, Germany","1907, 1908, 1909, 1910, 1913, 1914, 1916, 1917...",[41]
43,NaN,Albin Haller,"March 7, 1849 Fellering, France","April 29, 1925 Paris, France","1907, 1912, 1916, 1919, 1920, 1921, 1922, 1923...",[42]
44,1908.0,1908,1908,1908,1908,1908
45,NaN,Richard Willstätter,"August 13, 1872 Karlsruhe, Germany","August 3, 1942 Muralto, Switzerland","1908, 1909, 1911, 1912, 1913, 1914, 1915",Won the 1915 Nobel Prize in Chemistry.[43]
46,NaN,Frederick Soddy,"September 2, 1877 Eastbourne, England","September 22, 1956 Brighton, England","1908, 1918, 1919, 1922",Won the 1921 Nobel Prize in Chemistry in 1922....
47,NaN,Albrecht Kossel,"September 16, 1853 Rostock, Germany","July 5, 1927 Heidelberg, Germany",1908,Won the 1910 Nobel Prize in Physiology or Medi...
48,NaN,Gustaf de Laval,"May 9, 1845 Orsa, Sweden","February 2, 1913 Stockholm, Sweden",1908,Nominated the only time by Otto Pettersson and...
49,NaN,Georg Lunge,"September 15, 1839 Wrocław, Poland","January 3, 1923 Zürich, Switzerland",1908,[47]
50,NaN,Arthur Rudolf Hantzsch,"March 7, 1857 Dresden, Germany","March 14, 1935 Dresden, Germany","1908, 1927",[48]
51,1909.0,1909,1909,1909,1909,1909
52,NaN,Edmund Oscar von Lippmann,"January 9, 1857 Vienna, Austria","September 24, 1940 Halle (Saale), Germany",1909,Nominated the only time by Alexander Herzfeld ...
53,NaN,Hans Heinrich Landolt,"December 5, 1831 Zürich, Switzerland","March 15, 1910 Berlin, Germany","1909, 1910",[50]
54,NaN,Otto Schönherr,"December 1, 1861 Chemnitz, Germany","December 25, 1926 Dresden, Germany","1909, 1912",[51]
55,NaN,Karl Engler,"January 5, 1842 Weisweil, Germany","February 7, 1925 Karlsruhe, Germany","1909, 1910, 1911, 1916",[52]
56,NaN,Jean-Baptiste Senderens,"January 27, 1856 Barbachen, France","September 26, 1937 Barbachen, France","1909, 1928, 1929",Nominated jointly with P.Sabatier only.[53]
57,NaN,Gabriel Bertrand,"May 17, 1867 Paris, France","June 10, 1962 Paris, France","1909, 1928, 1929, 1931, 1932, 1933, 1934, 1935...",Nominated for Nobel Prize in Physiology or Med...

### b.2) Filtrado y concatenación de la data

In [321]:
# Con la función cotas, se busca encontrar el intervalo de filas donde se encuentran los nominados por cada año
# Con esto, acotar los DFs asociados a cada año, en función a dicho intervalo de filas
# x: índice de la lista Nominees, y: año de nominación
# Por ejemplo, los que fueron nominados en 1901, se encuentran en las filas 1:7 del elemento 1 de la lista Nominees

def cotas(x,y):
    try:
        cota_inf=Nominees[x].index.get_loc(Nominees[x][Nominees[x]['Picture'] == y].index[0])
        cota_sup= Nominees[x].index.get_loc(Nominees[x][Nominees[x]['Picture'] == y+1].index[0])
        return range(cota_inf+1,cota_sup)
    except:
        cota_inf=Nominees[x].index.get_loc(Nominees[x][Nominees[x]['Picture'] == y].index[0])
        cota_sup= Nominees[x].shape[0]
        return range(cota_inf+1,cota_sup)
    

list(cotas(0,1901))

[1, 2, 3, 4, 5, 6, 7]

In [343]:
#Se tiene información de los nominados desde 1901 hasta 1970 en forma de 8 DFS:

#1901–1909: Nominees[0]
#1910–1919: Nominees[1]
#1920–1929: Nominees[2]
#1930–1939: Nominees[3]
#1940–1949: Nominees[4]
#1950–1959: Nominees[5]
#1960–1969: Nominees[6]
#1970: Nominees[7]

#DFs de 1901-1909
NomineesDFs_1901_1909=[Nominees[0].iloc[cotas(0,i),:] for i in list(range(1901,1910))]

# DFs de 1910 a 1969
    #Forma larga:
NomineesDFs_1910_1919=[Nominees[1].iloc[cotas(1,i),:] for i in list(range(1910,1920))]
NomineesDFs_1920_1929=[Nominees[2].iloc[cotas(2,i),:] for i in list(range(1920,1930))]
NomineesDFs_1930_1939=[Nominees[3].iloc[cotas(3,i),:] for i in list(range(1930,1940))]
NomineesDFs_1940_1949=[Nominees[4].iloc[cotas(4,i),:] for i in list(range(1940,1950))]
NomineesDFs_1950_1959=[Nominees[5].iloc[cotas(5,i),:] for i in list(range(1950,1960))]
NomineesDFs_1960_1969=[Nominees[6].iloc[cotas(6,i),:] for i in list(range(1960,1970))]
    #Forma simplificada: 
NomineesDFs_1910_1969=[Nominees[j].iloc[cotas(j,i),:] for j in list(range(1,7)) for i in list(range(1900+j*10,1910+j*10))]


#DF de 1970 
#Los datos Nominees[7].Picture no se encontraban como números reales (float)
#Por esto, se tuvo que realizar la conversión respectiva
Nominees[7].Picture=pd.to_numeric(Nominees[7].Picture,errors='coerce')
NomineesDF_1970=Nominees[7].iloc[cotas(7,1970),:]


#INTENTOS FALLIDOS:
# DFs de 1910 a 1969
#z
#NomineesDFs_1910_1969=[Nominees[x[i]].iloc[cotas(x[i],z[i]),:] for i in list(range(0,6))]
#c=[cotas(i,j) for i in list(range(0,6))]
#c=[cotas[(a,b)] for b in list(range(1910+ (a-1)*10, 1910+ a*10)) if a in x]

#A= [Nominees[X].iloc[cotas(X,i),:] for i in list(range(1960,1970))]
#x=range(1,7)
#z=list(range(1910+ (w-1)*10, 1910+ w*10) for w in x)
#a=[(j,i) for j in list(range(1,7)) for i in list(range(1900+j*10,1910+j*10))]

In [327]:
#Concatenando los DFs de cada lista
Nominees=pd.read_html(NomineesLink,header=0,flavor='bs4')
NomineesDFs_1901_1909=[Nominees[0].iloc[cotas(0,i),:] for i in list(range(1901,1910))]
NomineesDFs_1901_1909=pd.concat(NomineesDFs_1901_1909[i] for i in range(len(NomineesDFs_1901_1909))) 

NomineesDFs_1910_1969=[Nominees[j].iloc[cotas(j,i),:] for j in list(range(1,7)) for i in list(range(1900+j*10,1910+j*10))]
NomineesDFs_1910_1969=pd.concat(NomineesDFs_1910_1969[i] for i in range(len(NomineesDFs_1910_1969))) 

Nominees[7].Picture=pd.to_numeric(Nominees[7].Picture,errors='coerce')
NomineesDF_1970=Nominees[7].iloc[cotas(7,1970),:]

NomineesList=[NomineesDFs_1901_1909,NomineesDFs_1910_1969,NomineesDF_1970]
NomineesAllDFs=pd.concat(NomineesList)
NomineesAllDFs

,Picture,Name,Born,Died,Years Nominated,Notes,Unnamed: 6
1,NaN,Jacobus Henricus van 't Hoff,"August 30, 1852 Rotterdam, Netherlands","March 1, 1911 Berlin, Germany",1901,Won the 1901 Nobel Prize in Chemistry.[4],NaN
2,NaN,Emil Fischer,"October 9, 1852 Euskirchen, Germany","July 15, 1919 Berlin, Germany","1901, 1902, 1916, 1919","Won the 1902 Nobel Prize in Chemistry,[5] late...",NaN
3,NaN,Svante Arrhenius,"February 19, 1859 Uppsala, Sweden","October 2, 1927 Stockholm, Sweden","1901, 1902, 1903",Won the 1903 Nobel Prize in Chemistry and nomi...,NaN
4,NaN,Henri Moissan,"September 28, 1852 Paris, France","February 20, 1907 Paris, France","1901, 1902, 1903, 1904, 1905, 1906",Won the 1906 Nobel Prize in Chemistry.[8],NaN
5,NaN,Zdenko Hans Skraup,"March 3, 1850 Prague, Czech Republic","September 10, 1910 Vienna, Austria",1901,Nominated the only time by Eduard Lippmann (18...,NaN
...,...,...,...,...,...,...,...
26,NaN,Charles Gilbert Overberger,"October 12, 1920 Barnesboro, Pennsylvania, Uni...","March 17, 1997 Ann Arbor, United States",1970,Jointly nominated with K.J.Freudenberg and Al....,NaN
27,NaN,Henry Montague (Monty) Frey,"February 27, 1929 London, England",NaN,1970,Jointly nominated the only time by Youssef Isk...,NaN
28,NaN,Jack Sylvester Hine,"July 2, 1923 Coronado, California, United States","July 6, 1988 Columbus, Ohio, United States",1970,Jointly nominated the only time by Youssef Isk...,NaN
29,NaN,Wolfgang Kirmse,"June 26, 1930 Frankfurt am Main, Germany",NaN,1970,Jointly nominated the only time by Youssef Isk...,NaN
30,NaN,Tetsuo Nozoe,"May 16, 1902 Sendai, Japan","April 4, 1996 Tokyo, Japan","1970, 1974[747]",[748],NaN

### b.2) Limpieza del DataFrame resultante de la concatenación

In [341]:
NomineesAllDFs=pd.concat(NomineesList)
NomineesAllDFs=NomineesAllDFs.drop(columns=['Picture','Notes','Unnamed: 6'])
NomineesAllDFs=NomineesAllDFs.rename(columns={'Name':'Nominee','Born':'Birth_year','Died':'Death_year'})

NomineesAllDFs

,Nominee,Birth_year,Death_year,Years Nominated
1,Jacobus Henricus van 't Hoff,"August 30, 1852 Rotterdam, Netherlands","March 1, 1911 Berlin, Germany",1901
2,Emil Fischer,"October 9, 1852 Euskirchen, Germany","July 15, 1919 Berlin, Germany","1901, 1902, 1916, 1919"
3,Svante Arrhenius,"February 19, 1859 Uppsala, Sweden","October 2, 1927 Stockholm, Sweden","1901, 1902, 1903"
4,Henri Moissan,"September 28, 1852 Paris, France","February 20, 1907 Paris, France","1901, 1902, 1903, 1904, 1905, 1906"
5,Zdenko Hans Skraup,"March 3, 1850 Prague, Czech Republic","September 10, 1910 Vienna, Austria",1901
...,...,...,...,...
26,Charles Gilbert Overberger,"October 12, 1920 Barnesboro, Pennsylvania, Uni...","March 17, 1997 Ann Arbor, United States",1970
27,Henry Montague (Monty) Frey,"February 27, 1929 London, England",NaN,1970
28,Jack Sylvester Hine,"July 2, 1923 Coronado, California, United States","July 6, 1988 Columbus, Ohio, United States",1970
29,Wolfgang Kirmse,"June 26, 1930 Frankfurt am Main, Germany",NaN,1970
30,Tetsuo Nozoe,"May 16, 1902 Sendai, Japan","April 4, 1996 Tokyo, Japan","1970, 1974[747]"

In [342]:
# Manteniendo solo los años en las columna Birth_year y Death_year
NomineesAllDFs.str.replace(pat=r'\w')